[name*="about-me"] {
  margin-bottom: 6rem;
}

.grid {
  padding: 0 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.grid h1 {
  grid-area: h1;
}

.grid main {
  grid-area: main;
}

.grid p,
.grid ul {
  margin-bottom: 1rem;
}

.grid > a {
  grid-area: a;
}

.grid main a {
  display: none;
}

.grid img {
  width: 260px;
  height: auto;
  shape-outside: circle();
  border-radius: 50%;
  margin: 1em 0 2rem;
}

.grid span {
  color: #dc5f51;
}

.grid a {
  font-style: italic;
  color: #dc5f51;
}

.grid a:hover {
  color: #555555;
}

/*
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
*/

@media (min-width: 768px) {
  .grid {
    padding: 0 2rem;
    height: 100vh;
    text-align: unset;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "h1"
      "."
      "main";
  }

  .grid p:first-of-type {
    margin-top: -60px;
  }

  .grid img {
    float: right;
    margin: 0.2em;
  }
}

@media (min-width: 1200px) {
  .grid {
    max-width: 1140px;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    grid-column-gap: 2vw;
    grid-template-columns: 1fr 8fr 3fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas:
      ". . ."
      "h1 main ."
      "h1 main .";
  }

  .grid h1 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: flex-start;
    justify-self: flex-end;
    margin: 0;
  }

  .grid main {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .grid p:first-of-type {
    margin-top: 0;
  }

  .grid main a {
    display: inline;
  }
}
