.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.splash {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  display: flex;
}

.splash h2 {
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
}

.splash > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.splash div:nth-child(1) {
  background: url(../../img/scott-webb-437688-unsplash.jpg) 35%;
  background-size: cover;
}

.splash div:nth-child(2) {
  background: url(../../img/lost-places-1510592_1920.jpg) center;
  background-size: cover;
}

.headline {
  padding: 4rem 2rem 1rem 2rem;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.headline h2 {
  margin-bottom: 2rem;
  text-shadow: none;
  color: inherit;
}

.headline p {
  padding: 0 3.5rem;
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.headline div {
  margin-top: auto;
}

.splash div:nth-child(4) {
  background: url(../../img/justin-chavanelle-548101-unsplash.jpg) center;
  background-size: cover;
}

.splash div:hover:not(:nth-child(3)) {
  background-color: rgba(30, 170, 242, 0.31);
  background-blend-mode: multiply;
  cursor: pointer;
}
