.container {
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 3fr;
    grid-template-areas:
    ".      .      menu ."
    "header header menu ."
    "body   body   menu ."
    "pitch  .      menu ."
    ".      .      menu .";
    width: 100vw;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    /*background: url(../../img/jon-tyson-unsplash.jpg) 0 0 / cover var(--bg-color-blend);*/
    /*background-blend-mode: multiply;*/
    background: url(../../img/jon-tyson-heads.jpg);
    background-size: cover;
}

.header {
    grid-area: header;
    margin-bottom: 2rem;
}

.body {
    grid-area: body;
    margin-left: 4rem;
}

.pitch {
    grid-area: pitch;
    margin-left: 8rem;
}

.menu {
    grid-area: menu;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    background-color: var(--primary-bg-color-dark);
    color: var(--primary-color-light);
    justify-items: center;
    text-align: center;
    row-gap: 5vh;
}

.body,
.pitch {
    font-size: 1.563em;
    margin-bottom: 1rem;
}

.header h1,
.pitch h4,
.body p,
.pitch p {
    display: inline-block;
    background-color: var(--primary-bg-color-dark);
    color: var(--primary-color-light);
    padding: 1rem;
}

.header h1:not(:nth-of-type(1)),
.body p:not(:nth-of-type(1)),
.pitch p {
    margin-top: -1rem;
}

.body p:nth-of-type(3) {
    margin-bottom: 2rem;
}

.menu h1 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: end;
}

.menu div {
    position: relative;
}

.hand {
    position: absolute;
    left: -16em;
    top: -6em;
    transform: rotate(35deg) scale(.5);
}

.link {
    display: block;
    transition: 0.2s;
}

.link:hover {
    cursor: pointer;
    transform: translateX(4px);
}

.asterisk {
    margin-right: 1rem;
}
