@import 'bootstrap-custom';

body {
  font-weight: 300;
  margin-top: 50px;
}

.navbar {
  .navbar-brand:focus {
    outline: 0;
  }

  .navbar-nav {
    > li {
      font-size: 18px;

      > a {
        padding-top: 21px;
        line-height: 18px;
      }
    }
  }

  .btn-dark {
    margin-top: 8px;
  }
}

.container {
  position: relative;
}

.splash-container {
  background: url(../img/wall.jpg) no-repeat center center;
  background-size: cover;

  .splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    min-height: 60vh;
  }
}

div[class*="col-"] {
  margin-bottom: 2em;
}
