@import 'bootstrap-custom';

body {
  font-weight: 300;
}

.text-light {
  color: $text-light;
}

.bg-steel-blue {
  background-color: $steel-blue;
}

.bg-light-steel-blue {
  background-color: $light-steel-blue;
}

.bg-silver {
  background-color: $silver;
}

.bg-dark-slate-gray {
  background-color: $dark-slate-gray;
}

.bg-slate-gray {
  background-color: $slate-gray;
}

.vh-40 {
  min-height: 40vh;
}

.vh-100 {
  min-height: 100vh;
}

.navbar {
  margin-bottom: 0;

  .navbar-brand:focus {
    outline: 0;
  }

  .navbar-nav {
    > li {
      font-size: 18px;

      > a {
        padding-top: 21px;
        line-height: 18px;
      }
    }
  }

  .btn-dark {
    margin-top: 8px;
  }
}

.container,
.position-relative {
  position: relative;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.bg-wall {
  background: url(../img/wall.jpg) no-repeat top center;
  background-size: contain;
}

.bg-facial {
  background: url(../img/facial.jpg) no-repeat center center;
  background-size: cover;
}

.bg-examples {
  background: url(../img/examples.jpg) no-repeat center center;
  background-size: cover;
}

div[class*="col-"] {
  margin-bottom: 2em;
}

.links {
  margin-top: 3em;

  a {
    color: $text-light;
  }

  a:hover {
    color: $text-muted;
  }
}

